<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yomorning.lavafood.yomorning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>
        <activity
            android:name=".PresentationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".railrestroactivities.RailRestroMenuActivity"
            android:label="@string/rail_restro_menu"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>
        <activity
            android:name=".railrestroactivities.RailRestroCartItemDetailDialog"
            android:label="Order Summary"
            android:theme="@style/AppTheme"
            android:parentActivityName=".railrestroactivities.RailRestroMenuActivity"/>
        <activity
            android:name=".user.UserLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.UserRegistration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.UserProfile"
            android:label="Your Profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".user.EditProfile" />
        <activity
            android:name=".SplaceScreenFirst"
            android:theme="@style/SplaceScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".user.ForgotPassword"
            android:theme="@style/SplaceScreen" />
        <activity
            android:name=".ChangePassword"
            android:label="Change Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderHistory"
            android:label="Order History"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".TestingActivity">

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
    </application>

</manifest>